<!-- Page Content -->
<!-- About Page Starts Here -->
<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>About Us</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-image">
                    <img src="/assets/images/about.jpg" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>Về chúng tôi</h4>
                    <p>Chúng tôi là nhà bán lẻ uy tín và an toàn hàng đầu. Pixie chuyên cung cấp các sản phẩm công nghệ
                        chính hãng tại thị trường Việt Nam. Năm 2019, Pixie Mobile được thành lập, từng bước trở thành địa
                        chỉ đáng tin cậy của người tiêu dùng Việt. Với khẩu hiệu “Nếu những gì chúng tôi không có, nghĩa là
                        bạn không cần”, chúng tôi đã, đang và sẽ tiếp tục nỗ lực đem đến các sản phẩm công nghệ chính hãng
                        đa dạng, phong phú đi kèm mức giá tốt nhất phục vụ nhu cầu của quý khách hàng.</p>
                    <br>
                    <p> Sau hơn 20 năm phát triển, Pixie Mobile đã trở thành cái tên không còn xa lạ với người tiêu dùng trong nước.
                        Hiện nay chúng tôi đang sở hữu mạng lưới hơn 60 chi nhánh phủ tại gần 40 tỉnh thành trên cả nước,
                        trong đó bao gồm hai trung tâm bảo hành tại Hà Nội và một trung tâm bảo hành tại thành phố Hồ Chí Minh.
                    </p>
                    <br>
                    <p>Đến với chuỗi cửa hàng của Pixie Mobile, quý khách có thể hoàn toàn yên tâm về uy tín,
                        chất lượng sản phẩm với mức giá rẻ hơn khoảng 15-20% so với giá bán trên thị trường.
                        Song song với đó, chúng tôi cũng luôn nỗ lực phục vụ đem đến trải nghiệm dịch vụ tốt nhất cho khách hàng.</p>
                    </p>
                    <br>
                    <p>Cảm ơn bạn đã chọn chúng tôi làm nơi để mua sắm.</p>
                    <div class="share">
                        <h6>Find us on: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Page Ends Here -->