<div class="container">
    
    <form action="/forgotPassword/sendMail" method="get" class="form-horizontal form-material d-flex flex-column align-items-center">
        <div class="mt-5 ml-5 mr-5" style="text-align: center; color: rgb(59, 204, 45)">
            <h3 style="padding: 0px 12px;">Did you forget your password? Don't worry, fill in your email in the box below. We are always here to help you!</h3>
        </div>
        <div class="form-group m-4 w-75">
            <label class="col-md-12 p-0" for="email" style="text-align: center;">Enter your email</label>
            <div class="col-md-12 border-bottom p-0">
                <input type="email" name="email" id="email" class="form-control p-0 border-0" style="text-align: center;" required>
            </div>
        </div>
        <div class="mb-1" style=" text-align: center;">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
    <div class="m-5" style="text-align: center; color: rgb(205, 50, 50)">
        {{#if result}}
            <h2>Reset password fail !</h2>
        {{/if}}
    </div>
    
</div> 