<form action="/forgotPassword/sendMail" method="get">
    <label for="email">Enter your email</label>
    <input type="email" name="email" id="email">
    <input type="submit" value="Submit">
</form>
{{#if result}}
    <h1>Reset password fail !</h1>
{{/if}}