<link rel="stylesheet" href="/assets/css/owl.css">
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">
                    <h2>Chào mừng quý khách đến với Pixie store</h2>
                    <div class="line-dec"></div>
                    <p><strong>Pixie</strong> tự hào mang đến cho quý khách những dòng sản phẩm mới nhất với nhất rẻ nhất.
                        <br><br>Quý khách có thể xem các dòng sản phẩm mới nhất <a rel="nofollow" href="/products">tại đây</a></p>
                    <div class="main-button">
                        <a href="/products/query?index=0&type=">Order Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner Ends Here -->

<!-- Featured Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Featured Items</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <a href="/detail-product/macbookPro16">
                        <div class="featured-item">
                            <img src="/assets/images/Mac/MacBookPro16/1.jpg" alt="Item 1">
                            <h4>MacBook Pro 16"</h4>
                            <h6>40.000.000</h6>
                        </div>
                    </a>
                    <a href="/detail-product/iPhone13pm">
                        <div class="featured-item">
                            <img src="/assets/images/iPhone/ip13pm/ip13pm_gold.jpg" alt="Item 2">
                            <h4>iPhone 13 Pro Max</h4>
                            <h6>35.000.000</h6>
                        </div>
                    </a>
                    <a href="/detail-product/iPhone13">
                        <div class="featured-item">
                            <img src="/assets/images/iPhone/ip13/ip13_black.jpg" alt="Item 2">
                            <h4>iPhone 13</h4>
                            <h6>31.000.000</h6>
                        </div>
                    </a>
                    <a href="/detail-product/iPadPro">
                        <div class="featured-item">
                            <img src="/assets/images/iPad/iPadPro/1.jpg" alt="Item 2">
                            <h4>iPad Pro</h4>
                            <h6>16.000.000</h6>
                        </div>
                    </a>
                    <a href="/detail-product/iPadMini">
                        <div class="featured-item">
                            <img src="/assets/images/iPad/iPadMini/1.jpg" alt="Item 2">
                            <h4>iPad Mini</h4>
                            <h6>10.000.000</h6>
                        </div>
                    </a>
                    <a href="/detail-product/appleWatchSeries7">
                        <div class="featured-item">
                            <img src="/assets/images/appleWatch/series7/1.jpg" alt="Item 2">
                            <h4>Apple Watch Series 7</h4>
                            <h6>8.000.000</h6>
                        </div>
                    </a>
                    <a href="/detail-product/macbookAir">
                        <div class="featured-item">
                            <img src="/assets/images/Mac/MacBookAir/2.jpg" alt="Item 1">
                            <h4>MacBook Air</h4>
                            <h6>20.000.000</h6>
                        </div>
                    </a>
                    <a href="/detail-product/appleWatchSE">
                        <div class="featured-item">
                            <img src="/assets/images/appleWatch/se/1.jpg" alt="Item 2">
                            <h4>Apple Watch SE</h4>
                            <h6>5.500.000</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featred Ends Here -->