<link rel="stylesheet" href="/assets/css/css-style-login.css">

<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Login / Sign up</h1>
                </div>
            </div>

            <div class="container">
                <div class="col-md-12">
                    <div class="login-wrap">
                        <div class="login-html">
                            <input type="radio" name="tab" class="sign-in" ><label  class="tab"></label>
                            <input type="radio" name="tab" class="sign-up" checked><label class="tab">REGISTER</label>
                            <div class="login-form">
                                <div class="sign-up-htm">
                                    <form method="POST" action="/auth/register">
                                        <div class="group">
                                            {{#if userExist}}
                                                <h5 style="color: #bd2130; font-weight: 400">Username is existing !</h5>
                                            {{/if}}
                                        </div>
                                        <div class="group">
                                            <label for="user" class="label">Username</label>
                                            <input id="user" name="username" type="text" class="input" required>
                                        </div>

                                        <div class="group">
                                            <label for="pass" class="label">Email Address</label>
                                            <input id="pass" name="email" type="email" class="input" required>
                                        </div>

                                        <div class="group">
                                            <label for="pass" class="label">Password</label>
                                            <input id="pass" name="password" type="password" class="input"
                                                   data-type="password" required onChange="onChange()">
                                        </div>
                                        <div class="group">
                                            <label for="re-pass" class="label">Repeat Password</label>
                                            <input id="re-pass" name="re-password" type="password" class="input"
                                                   data-type="password" required onChange="onChange()">
                                        </div>

                                        <div class="group">
                                            <input type="submit" class="button mt-5" value="Sign Up" id="submit">
                                        </div>
                                        <div class="hr"></div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="/assets/js/confirm-password.js"></script>