{{#if result}}
<div class="container">
    
    <form action="/forgotPassword/resetPassword?email={{email}}&activationString={{activationString}}" method="post" class="form-horizontal form-material d-flex flex-column align-items-center">
        <div class="mt-5 ml-5 mr-5" style="text-align: center; color: rgb(59, 204, 45)">
            <h3 style="padding: 0px 12px;">Great! All settings are complete, enter your new password and continue to enjoy our service.</h3>
        </div>
        <div class="form-group m-4 w-75">
            <label class="col-md-12 p-0" for="password" style="text-align: center;">Enter your new password</label>
            <div class="col-md-12 border-bottom p-0">
                <input type="password" name="password" id="password" class="form-control p-0 border-0" style="text-align: center;" required>
            </div>
        </div>
        <div class="mb-5" style=" text-align: center;">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>    
</div> 
{{else}}
<div class="m-5" style="text-align: center; color: rgb(205, 50, 50)">
    <h2>Opps! Something went wrong :((</h2>
    <h3>Please do it again. If password recovery is still having problems, contact the support team.</h3>
</div>
{{/if}}