
{{#if result}}
    <form action="/forgotPassword/resetPassword?email={{email}}&activationString={{activationString}}" method="post">
        <label for="password">Enter your new password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Submit">
    </form>
    {{else}}
    <h1>Something wrong !</h1>

{{/if}}
