    {{#if success}}
    <div class="m-5" style="text-align: center; color: rgb(59, 204, 45)">
        <h2>Email has been sent. Please check the email inbox!</h2>
    </div>
    {{else}}
    <div class="m-5" style="text-align: center; color: rgb(205, 50, 50)">
        <h2>The email address is not registered!</h2>
    </div>
    {{/if}}