<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Profile</h1>
                </div>
            </div>
            <div class="container mt-4 login-form">
                <div class="row mb-3">
                    <div class="col-md-6 offset-md-3 shadow" style="background-color: white;
                                                    margin-bottom: 20px;padding-bottom: 30px;">
                        <form class="p-4" action="/user-profile/change-password/{{user._id}}" method="post" >
                            <div class="mb-3" style="color: black; font-size: 30px">
                                <h1>Change Password</h1>
                            </div>

                            {{#if updateSuccess}}
                                <div class="mb-3" style="text-align: center; color:green;font-size: 20px">
                                    Change password success !
                                </div>
                            {{/if}}
                            {{#if updateFail}}
                                <div class="mb-3" style="text-align: center; color:red;font-size: 20px">
                                    Old password is incorrect !
                                </div>
                            {{/if}}

                            <div class="mb-3">
                                <label for="pass"style="color: black; font-size: 20px">Old Password</label>
                                <input type="password" class="form-control" id="pass" name="password"
                                       data-type="password" placeholder="Password" required onChange="onChange()">
                            </div>

                            <div class="mb-4">
                                <label for="re-pass" style="color: black; font-size: 20px">Repeat Old Password</label>
                                <input type="password" class="form-control" id="re-pass" name="re-password"
                                       data-type="password" placeholder="Repeat Password" required onChange="onChange()">
                            </div>

                            <div class="mb-3">
                                <label for="pass"style="color: black; font-size: 20px">New Password</label>
                                <input type="password" class="form-control" id="pass" name="new-password"
                                       placeholder="New Password" required>
                            </div>

                            <div class="mb-3" style=" text-align: center;">
                                <button type="submit" class="btn btn-warning col-md-12 ">Change</button>
                            </div>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/confirm-password.js"></script>

